.header {
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1%;
    border-bottom: 1px solid whitesmoke;

}

.nav-logo {
    display:flex;
    height: 75px;
    width: 175px;
    padding: 5%;
}

.nav-items {
    display:flex;
    margin-left: auto;
    margin-right: 5%;
    align-items: center;
}

.nav-link {
    background-color: whitesmoke;
    color: #DF791E;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 8px;
    font-weight: bold;
}

.nav-link:hover {
    border-color: #ACA59D;
    border-width: 1px;
    border-style: solid;
}

.hidden {
    display: none;
}

button {
    padding: 5px 10px ;
    border: 1px solid black;
    transition: 250ms background-color;
}

button:hover{
    cursor: pointer;
    background-color:orange;
    color: white;
}

button:disabled:hover{
    opacity: 0.6;
    cursor: not-allowed;
}

.text-center {
    text-align: center;
}

.progressBar {
    max-width: 100%;
    background-color: whitesmoke; 
    padding-bottom: 40px;
    border-bottom: .3px solid whitesmoke;

}

#stepProgressBar{
    display: flex;
    margin-bottom: 1px;
    justify-content: space-between;
    margin-left: 10px;
}

.progress-bar-button {
    border-radius: 3px;
}

.step {
    text-align: center;
    text-indent: 0.43em;
    width: 100%;
    padding: 10px;
}

h6.step-text {
    color:darkblue;
    font-size: 14.5px;
    text-align: center;
}

.bullet {
    height: 20;
    width: 26px;
    border-radius: 100%;
    border: 1.8px solid orange;
    display: inline-flex;
    position: relative;
    transition: background-color 500ms;
    line-height: 22px;
}

.bullet.completed {
    color: white;
    background-color: orange;
    display: inline-flex;

}

.bullet.completed::after{
    content: '';
    position: absolute;
    width: 100px;
    background-color: orange;
    height: 1.2px;
    right: -170px;
    bottom: 10px;
}

.bullet.finalstep{
    color: white;
    background-color: orange;
    display: inline-flex;
}

#previousBtn{
    width: 60px;
    height: 28px;
    font-size: 11px;
    margin: 5px;
    border-radius: 3px;
}

#nextBtn{
    width: 55px;
    height: 28px;
    font-size: 11px;
    border-radius: 3px;
}

#main{
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 12.7%;
  left: 37%;
  right: 35%;
  margin-top: 70px;
}

