@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

.demo-app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  background-color: whitesmoke;
}

.demo-app-top {
  margin: auto;
}

.demo-app-calendar {
  padding-top: 13px;
  margin: 0 auto;
  max-width: 1000px;
}