.progress {
    border: 1px solid #333;
    border-radius: 50px;
    height: 20px;
    width: 500px;
    background-color: white;
}

.filler {
    background: #DF791E;
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
}